{% extends "base.html" %}
{% block title %}JenDash{% endblock %}
{% set colors = {'SUCCESS': 'success', 'FAILURE': 'danger', 'ABORTED': 'default'} %}
{% block body %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Env Name</th>
        <th>Action</th>
        <th>Build</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for build in builds %}
      {% if build['actions'][2]['parameters'] %}
      {% if builds[1]['actions'][2]['parameters'][0]['name'] == 'ENV_NAME' and colors[build['result']] %}
      <tr class="{{ colors[build['result']] }}">
        <td><span class="label label-{{ colors[build['result']] }}">{{ build['result'] }}</span></td>
        <td><mark><b>{{ build['actions'][2]['parameters'][0]['value'] }}</b></mark></td>
        <td><kbd>{{ build['actions'][2]['parameters'][7]['value'] }}</kbd></span></td>
        <td><a href="{{ build['url'] }}">{{ build['number'] }}</a></td>
        <td>{{ build['timestamp'] | ctime }}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
